<footer class="footer py-3 fixed-bottom bg-light animate__animated animate__bounceInUp">
   <div class="container">
     <span class="text-muted float-start">2021 &copy; To-doing. </span>       
     <span class="text-muted float-end"><a href="https://github.com/elcodee" class="text-decoration-none">Github</a></span>       
     <span class="text-muted float-end me-3">V 1.0 Beta</span>       
   </div>
</footer>